/* 
/* 

Copyright ImagineAny. All Right Reserved.

imagineany.com

Dan Crisan
Hassan Akeel
Salman Hashmi


*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Times New Roman", Georgia, Serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body, html{
  height: 100%;
}

body {
  line-height: 1;
}

body {
    text-align: center;
    /* for centering table content IE 5.5+ */
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/

body {
  background: #fff; /* dark geen backgroud color */
  /*color: #888;*/
    color: black;
  /*font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font: 300 16px/22px "Times New Roman", Georgia, Serif;
}

body.home a.home, body.artwork a.artwork, body.projects a.projects, body.about a.about, body.contact a.contact {
    border-bottom: 1.5px solid #1e1f23;
    border-color: black;
}

li.foundations a.foundations, li.connections a.connections, li.dog a.dog, li.hungry-dog a.hungry-dog {
    border-bottom: 1.5px solid #1e1f23;
    border-color: black;
}
/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container,
.grid {
  margin: 0 auto;
  /*width: 960px;*/
}
/*.container {
  padding-left: 30px;
  padding-right: 30px;
}*/
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.col-1-3,
.col-2-3  {
  display: inline-block;
  vertical-align: top;
}
.col-1-3 {
  width: 33.33%;
    vertical-align: middle;
}
.col-2-3 {
  width: 66.66%;
}

.projects-col-1-3 {
    padding-left: 5px;
    padding-right: 5px;
}

.projects-col-1-3 {
    display: inline-block;
    width: 35%;
    vertical-align: top;
    /*border-right: solid black 1px;*/
}

.gallery-col-1-3 {
    padding-left: 5px;
    padding-right: 5px;
}

.gallery-col-1-3 {
    display: inline-block;
    width: 65%;
    vertical-align: top;
}

.gallery-col-1-3 div {
    font-size: 13px;
}

.gallery-col-1-3 div p {
    text-align: left;
}
/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Rows
  ========================================
*/

.row,
.row-alt {
  /*min-width: 960px;*/
}
.row {
  background: #fff;
  padding: 40px 0 20px 0;
}
.row-alt {
  background: #cbe2c1;
  background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background:    -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background:         linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding: 44px 0 22px 0;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4 {
  color: #648880;
}
h1, h3, h4, h5, p {
  margin-bottom: 22px;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
strong {
  font-weight: 400;
}
cite,
em {
  font-style: italic;
}

/*
  ========================================
  Leads
  ========================================
*/

.lead {
  text-align: center;
}
.lead p {
  font-size: 21px;
  line-height: 33px;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  color: #1e1f23;
  text-decoration: none;
}
a:hover {
  color: #a9b2b9;
}
p a {
  border-bottom: 1px solid #dfe2e5;
}
.primary-header a,
.primary-footer a {
  color: #1e1f23;
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #1e1f23;
}

.primary-nav a:hover {
    border-bottom: 1.5px solid #1e1f23;
    border-color: black /*firebrick*/
}
nav a:focus, a:hover {
    text-decoration: none;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
}
.btn-default {
  border: 0;
  background: #648880;
  padding: 11px 30px;
  font-size: 14px;
}
.btn-default:hover {
  background: #77a198;
}
.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}
.btn-alt:hover {
  background: #fff;
  color: #648880;
}

/*
  ========================================
  Primary header
  ========================================
*/

.logo {
  /* border-top: 4px solid #1e1f23; */
  float: none;
  font-size: 40px;
  font-weight: 300;
  font-family: 'Times New Roman';
  letter-spacing: .5px;
  line-height: 32px;
  padding: 40px 0 20px 0;
  text-transform: none;
  text-align: center;
    border-bottom: solid black 1.5px;
}
.tagline {
  margin: 66px 0 22px 0;
  color: #1e1f23;
  text-align: center;
}
.primary-nav {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
  text-align: center;
}

/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer {

  color: #1e1f23;
  font-size: 12px;
  padding-bottom: 22px;
  padding-top: 4px;
    border-top: solid black 1.5px;
}
.primary-footer small {
  float: left;
  font-weight: 400;
}

.primary-footer small a:hover{
  color: gray;
}

/*
  ========================================
  Navigation
  ========================================
*/

.projects-nav {
    text-align: left;
}

.projects-nav li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
    font-size: 12px;
}

.projects-nav a:hover {
    border-bottom: solid black 1.5px;
    color: black;
}

.nav {
  text-align: center;
}
.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
.nav li:last-child {
  margin-right: 0;
}

.foot li {
    float: right;
    text-align: right;
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
    margin-right: 0;
}


/*
  ========================================
  Home
  ========================================
*/

.hero {
  color: #fff;
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
}
.hero h2 {
  font-size: 36px;
}
.hero p {
  font-size: 24px;
  font-weight: 100;
}
.teaser a:hover h3 {
  color: #a9b2b9;
}
.teaser img {
  border-radius: none;
  display: block;
  margin-bottom: 22px;
  max-width: 100%
}

/*
  ========================================
  Projects
  ========================================
*/

.container-projects {
  max-width: 400px;
  background-color: black;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.container-projects div {
  background-color: white;
  width: 100%;
  display: inline-block;
  display: none;
}
.container-projects img {
  width: 100%;
  height: auto;
}

button {
  position: absolute;
}

.next {
  right: 5px;
}

.prev {
  left: 5px;
}

/*
  ========================================
  Table
  ========================================
*/


table.center {
     margin-left:auto; 
    margin-right:auto;
  /*margin-bottom: 44px;*/
  /*width: 90%;*/
}


/*
table:last-child {
  margin-bottom: 0;
}
*/


th,
td {
    padding-left: 32px;
  padding-bottom: 22px;
  vertical-align: top;
}


/*
th {
  padding-right: 45px;
  text-align: right;
  width: 20%;
}
*/

/*
td {
  width: 40%;
}
*/

/*
thead {
  line-height: 44px;
}
*/

/*
thead th {
  color: #648880;
  font-size: 24px;
}
*/

/*
tbody th {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  padding-top: 22px;
  text-transform: uppercase;
}
*/

/*
tbody td {
  border-top: 1px solid #dfe2e5;
  padding-top: 21px;
}
*/

/*
tbody td:first-of-type {
  padding-right: 15px;
}

tbody td:last-of-type {
  padding-left: 15px;
}

tbody td:only-of-type {
  padding-left: 0;
  padding-right: 0;
}
*/

table a {
  color: #888;
}

table h4 {
  margin-bottom: 0;
}

table img {
    width:auto;
    height: 80px;
}

.galleryPicture a:hover {
    opacity: 0.8;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.schedule-offset {
  color: #a9b2b9;
}

figcaption {
    font-size: 11px
}


.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.projectSection img{
  max-width: 100%;
  height: 200px;

}
.projectSection{
  font-size: 14px;
}
 div.galleryPicture a img{
  height:80px;
}


@media (max-width: 895px) {
    div.galleryPicture a img {
        max-width:80% !important;
        height: auto;
        max-height:80%;

    }
    .project-footer{
      position: relative;
    }
    .contact-footer{
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
    }

}
@media (min-width: 896px) {
    
    .project-footer,.contact-footer,.about-footer{
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
    }


}

